{% set game = loan.game %}
{% set owner = game.user %}
{% set loaner = loan.user %}
<br><br>
Bonjour {{ loaner.firstname }} {{ loaner.lastname }},
<br><br>
Nous avons le plaisir de vous informer que votre demande d'emprunt pour le jeu <em>{{ game.name }}</em> a été validée
par l'utilisateur <a href="{{ url('user_details', { id: loaner.id }) }}">{{ owner.firstname }} {{ owner.lastname }}</a>
<br><br>

Amusez-vous bien !
<br><br>
Toute l'équipe de MoiJV