{% from "macros.html.twig" import loan_label %}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Profil{% endblock %}

{% block body %}
<section class="row my-4 mb-3">
    <div class="col-3">
        <img class="img-fluid" src="{{ user.avatar ? vich_uploader_asset(user, 'avatarFile') : 'http://placehold.it/300x300' }}" alt="Avatar">
    </div>
    <div class="col-9">
        <h2>{{ user.firstname }} {{ user.lastname }}</h2>
        <p>Inscrit le {{ user.dateInscription | date('d/m/Y') }}</p>
        {% if user.description %}<p>{{ user.description }}</p>{% endif %}
        {% if user == app.user %}
            <div class="btn-group">
                <a class="btn btn-outline-success" href="{{ path('profile_update') }}">Modifier mon profil</a>
                <a class="btn btn-outline-success" href="{{ path('profile_update_password') }}">Modifier mon mot de passe</a>
            </div>
        {% endif %}
    </div>
</section>
<section>
    <h2>Mes jeux</h2>
    <ul>
        {% for game in user.games %}
            <li>
                <a href="{{ path('game_details', { id: game.id }) }}">{{ game.name }}</a>
                <a class="btn btn-success" href="{{ path('game_edit', { id: game.id }) }}">Modifier</a>
            </li>
        {% endfor %}
    </ul>
    {% if user == app.user %}
        <a class="btn btn-info" href="{{ path('game_add') }}">Ajouter un jeu</a>
    {% endif %}
</section>
{% if user == app.user %}
    <section>
        <h2>Demandes d'emprunt en cours pour mes jeux</h2>
        <ul>
            {% for loan in remoteLoans %}
                <li>
                    {{ loan_label(loan) }}
                    {% if loan.status == constant("App\\Entity\\Loan::STATUS_WAITING") %}
                        <a class="btn btn-success" href="{{ path('accept_loan', { id: loan.id }) }}">Accepter la demande</a>
                        <a class="btn btn-danger" href="{{ path('reject_loan', { id: loan.id }) }}">Rejeter la demande</a>
                    {% elseif loan.dateEnd == null %}
                        <a class="btn btn-outline-danger" href="{{ path('close_loan', { id: loan.id }) }}">Fermer la demande</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Mes emprunts</h2>
        <ul>
            {% for loan in user.loans %}
                <li>
                    {{ loan_label(loan) }}
                    {% if is_granted('DELETE_LOAN', loan) %}
                        <a class="btn btn-danger" href="{{ path('delete_loan', { id: loan.id}) }}">Supprimer l'emprunt</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>

    {% else %}
        <section>
            <h2>J'y joue en ce moment</h2>
            <ul>
                {% for loan in user.loans %}
                    {% if loan.isAccepted and loan.dateEnd == null %}
                        <li><a href="{{ path('game_details', {id: loan.game.id}) }}">{{ loan.game.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}
